.heading {
  width: 100%;
  height: 96px;
  background-color: #4da5ff;
}

.heading .container {
  position: relative;
}

.heading h1 {
  color: black;
  font-size: 48px;  
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
}

.body .container {
  margin-left: 20px;
}

.reportPage h2 {
  color: black;
  font-size: 36px;  
  font-family: sans-serif;
  font-weight: bold;
}

.reportPage h3 {
  color: black;
  font-size: 24px;  
  font-family: sans-serif;
}

#emptyTxtArea {
  color: #ed2939;
  font-size: 24px;
  font-weight: bold;  
  font-family: sans-serif;
}

.reportedPage h2 {
  color: black;
  font-size: 32px;  
  font-family: sans-serif;
  font-weight: bold;
}

.reportedPage h3 {
  color: black;
  font-size: 20px;  
  font-family: sans-serif;
}

li {
  color: #5a5a5a;
  font-size: 18px;  
  font-family: sans-serif;
}

p {
  color: #5a5a5a;
  font-size: 18px;  
  font-family: sans-serif;
}

mark {
  color: #ed2939;
  background-color: white;
  font-size: 18px;  
  font-family: sans-serif;
}

.reportedPage img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 36px;
  margin-bottom: 36px;
}

.errorPage img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 36px;
  margin-bottom: 36px;
}

input[type="checkbox"] {
  float: right;
  margin-right: 24px;
}

input[type="submit"] {
  display:block;
  text-align: center;
  horizontal-align: center;
  background-color: #4da5ff;
  border: 1px solid black;
  width: 140px;
  font-size: 18px;  
  font-family: sans-serif;
  color: black;
  font-size: 18px;
  margin-left: 180px;
  float: left;
}

button {
  display:block;
  text-align: center;
  horizontal-align: center;
  background-color: #4da5ff;
  border: 1px solid black;
  width: 140px;
  font-size: 18px;  
  font-family: sans-serif;
  color: black;
  font-size: 18px;
}

#login {
  width: 220px;
}

.reportPage button {
  margin-right: 180px;
  float: right;
}

.reportedPage button {
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
}

.errorPage table {
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.errorPage td {
  width: 33%;
}

.errorPage button {
  margin-left: auto;
  margin-right: auto;
}
